<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Login</h1>
	<form action="#" th:action="@{/memberId}" th:object="${memberId}" method="post">
	<p><strong>Returning Customer?</strong><br>
	User ID:
	<input type="text" name="userId" th:field="*{userId}" />
	<input type="submit" value="Submit" /></p>
	</form>
	<p><strong>New Customer?</strong><br>
	<input type="submit" value="Join" onClick="" /></p>
</body>
</html>