<!DOCTYPE HTML>
<html style = "padding: 0;" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style = "margin: 0;">

	<div style = "width: 50%;
				  overflow: hidden;
				  float: left;
				  margin-right: 0;">
		<h1 style = "width: 100%;
					 height: auto;
					 float: right;
					 text-align: right;
					 border-right: solid;
					 padding-right: 2%;
					 margin-top: 25%;">
			Weekend Planner
		</h1>
	</div>
	<div style = "width: 49%; 
				  overflow: hidden;
				  float: right;">
		<h3 style = "float: left;
					 padding-left: 0;
					 margin-top: 27%;
					 margin-left: 0;">
			Easy planning for last minute trips
		</h3>
	</div>
	<div style = "width: 100%; text-align: center; float: left;">
		<form action="#" th:action="@{/search}" th:object="${search}"
			method="post" 
			style = "margin: 2%; 
					 padding: 2%;
					 width: 50%;
					 display: inline-block;
					 tex-align: center;
					 font-size: 100%;
					 border-radius: 2%;
					 background-color: ROSYBROWN;">
			<div style = "width: 40%;
						  float: left;
						  overflow:hidden;">
				<p style = "text-align: right; margin: 2.5%;">
					Origin<br />Destination
				</p>
			</div>
			<div style = "width: 60%;
						  float: right;
						  overflow: hidden;
						  text-align: left;">
				<input type="text" name="origin" th:field="*{origin}" style = "margin-bottom: 1%;"/>
				<br />
				<input type="text" name="destination" th:field="*{destination}" />
			</div>
			<br />
			<hr style = "clear: both;" />
			<strong>Departure Date:</strong>
			<br /> 
			<select name="deptMonth"
				th:field="*{deptMonth}">
				<option value="January">January</option>
				<option value="February">February</option>
				<option value="March">March</option>
				<option value="April">April</option>
				<option value="May">May</option>
				<option value="June">June</option>
				<option value="July">July</option>
				<option value="August">August</option>
				<option value="September">September</option>
				<option value="October">October</option>
				<option value="November">November</option>
				<option value="December">December</option>
			</select> 
			<select name="deptDay" th:field="*{deptDay}">
				<option value="1">01</option>
				<option value="2">02</option>
				<option value="3">03</option>
				<option value="4">04</option>
				<option value="5">05</option>
				<option value="6">06</option>
				<option value="7">07</option>
				<option value="8">08</option>
				<option value="9">09</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
				<option value="25">25</option>
				<option value="26">26</option>
				<option value="27">27</option>
				<option value="28">28</option>
				<option value="29">29</option>
				<option value="30">30</option>
				<option value="31">31</option>
			</select> 
			<select name="deptYear" th:field="*{deptYear}">
				<option value="2017">2017</option>
				<option value="2018">2018</option>
				<option value="2019">2019</option>
			</select> 
			<br />
			<strong>Return Date:</strong>
			<br /> 
			<select name="returnMonth"
				th:field="*{returnMonth}">
				<option value="January">January</option>
				<option value="February">February</option>
				<option value="March">March</option>
				<option value="April">April</option>
				<option value="May">May</option>
				<option value="June">June</option>
				<option value="July">July</option>
				<option value="August">August</option>
				<option value="September">September</option>
				<option value="October">October</option>
				<option value="November">November</option>
				<option value="December">December</option>
			</select> <select name="returnDay" th:field="*{returnDay}">
				<option value="1">01</option>
				<option value="2">02</option>
				<option value="3">03</option>
				<option value="4">04</option>
				<option value="5">05</option>
				<option value="6">06</option>
				<option value="7">07</option>
				<option value="8">08</option>
				<option value="9">09</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
				<option value="25">25</option>
				<option value="26">26</option>
				<option value="27">27</option>
				<option value="28">28</option>
				<option value="29">29</option>
				<option value="30">30</option>
				<option value="31">31</option>
			</select> <select name="returnYear" th:field="*{returnYear}">
				<option value="2017">2017</option>
				<option value="2018">2018</option>
				<option value="2019">2019</option>
			</select>
			<p>
				<input type="submit" value="Plan My Trip!" />
				<input type="reset" value="Start Over" />
			</p>
		</form>
	</div>
</body>
</html>